<main class="container">
    <div class="banner">
        <img src="../../assets/images/Home/10882@2x.png" alt="" class="banner__img">
        <h2 class="banner__h2">Pegue Uma Fatia</h2>
        <div class="banner__button">
            <button class="banner__button--apple" type="submit">
                <a href="http://www.gooogle.com" target="_blank" rel="noopener noreferrer">
                    <img class="img__apple" src="../../assets/images/apple.svg" alt="">
                    <small class="img__apple--small">Download on the</small><br>
                    <strong class="img__apple--strong">App Store</strong>
                </a>
            </button>

            <button class="banner__button--google" type="submit">
                <a href="http://www.google.com" target="_blank" rel="noopener noreferrer">
                    <img class="img__google" src="../../assets/images/google.svg" alt="">
                    <small class="img__google--small">Get it on </small><br>
                    <strong class="img__google--strong">Google Play</strong>
                </a>
            </button>
        </div>
    </div>

    <div class="carte">
        <h2 class="carte__h2">Nosso Cardápio</h2>
        <div class="carte__search">
            <img src="../../assets/images/search_icon.svg" alt="" class="cart__search--search-icon">
            <img src="../../assets/img/menu icon.svg" alt="" class="cart__search--menu-icon">
            <input class="carte__search--input" type="text" name="" id="" placeholder="Procure sua favorita">
        </div>

        <div class="category">
            <button class="category__button--all">
                <strong>Todas (170)</strong>
            </button>
            <div class="category__button--br">
                <a href="#popular">
                    <img src="../../assets/img/eat.svg" alt="" class="button__br--img">
                  <span class="button__br--span">Brasileira (41) </span>
                </a>
            </div>
            <div class="category__button--it">
                <a href="#popular">
                    <img src="../../assets/img/eat.svg" alt="" class="button__it--img">
                  <span class="button__it--span">Italiana (25) </span>
                </a>
            </div>
        </div>
    </div>
</main>