<div class="popular">
    <h2 class="popular__h2">Populares</h2>
    <hr class="popular__hr">
</div>



<div class="card" style="width: 327px; border-radius: 20px;">
    <a routerLink="/details" class="card__link">
        <img src="../../assets/images/Home/matex.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Pizzaria Matex</h5>
      <img src="../../assets/img/heart.svg" style="width: 20px" alt="" class="card-heart">
    <div class="matex__star--group">
        <img src="../../assets/img/star.svg" style="width: 25px; padding: 0; height: 25px; padding: 0;" alt="" class="matex__start--group">
        <img src="../../assets/img/star.svg" style="width: 25px; padding: 0; height: 25px; padding: 0;" alt="" class="matex__start--group">
        <img src="../../assets/img/star.svg" style="width: 25px; padding: 0; height: 25px; padding: 0;" alt="" class="matex__start--group">
        <img src="../../assets/img/star.svg" style="width: 25px; padding: 0; height: 25px; padding: 0;" alt="" class="matex__start--group">
        <img src="../../assets/img/star_20.svg" style="width: 25px; padding: 0; height: 25px; padding: 0;" alt="" class="matex__start--group">
    </div>
    <h6 class="card__assessment--text">32 Avaliações</h6>
      <div class="card__footer">
          <h6 class="card__footer--local-text">Brasileira</h6>
          <h6 class="card__footer--average-text">Média</h6>
          <img src="../../assets/img/clock/icons8-clock 1.svg" style="width: 20px;" alt="" class="card__footer--img">
          <h6 class="card__footer--time-text">20-30</h6>
      </div>
    </div>
    </a>
  </div>
  <hr class="popular__hr--footer">

<!--   <a href="#" class="btn btn-primary">Go somewhere</a> -->




<!-- linha 6 -->


<!-- <div class="popular__section--matex">
    <img src="" alt="" class="popular__matex">
    <div class="popular__sub-section--matex">
        <h3 class="popular__sub-section--matex">Pizzaria Matex</h3>
        <img src="../../assets/img/heart.svg" alt="" class="matex__heart">
        <div class="matex__star--group">
            <img src="../../assets/img/star.svg" alt="" class="matex__start--group">
            <img src="../../assets/img/star.svg" alt="" class="matex__start--group">
            <img src="../../assets/img/star.svg" alt="" class="matex__start--group">
            <img src="../../assets/img/star.svg" alt="" class="matex__start--group">
            <img src="../../assets/img/star_20.svg" alt="" class="matex__start--group">
        </div>
        <h3 class="matex__assessment">32 Avaliações</h3>
    </div>
    <div class="matex__footer">
        <span class="mater__footer">Brasileira</span>
        <span class="mater__footer">Média</span>
        <img src="../../assets/img/clock/icons8-clock 1.svg" alt="" class="matex__footer--clock">
        <span class="mater__footer">20-30</span>
    </div>
</div><br> -->