<div class="container">
    <h3 class="container__tittle">
        Nosso Cardápio
    </h3><br>
    <div class="row">
        <a href="" class="card__menu--link">
            <div class="card coll" style="width: 18rem;">
                <img src="../../assets/images/details/Image 34.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pizza sabor da casa</p>
                </div>
            </div>
        </a>
        <a href="" class="card__menu--link">
            <div class="card coll" style="width: 18rem;">
                <img src="../../assets/images/details/Image 34.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pizza sabor da casa</p>
                </div>
            </div>
        </a>
        <a href="" class="card__menu--link">
            <div class="card coll" style="width: 18rem;">
                <img src="../../assets/images/details/Image 34.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pizza sabor da casa</p>
                </div>
            </div>
        </a>
        <a href="" class="card__menu--link">
            <div class="card coll" style="width: 18rem;">
                <img src="../../assets/images/details/Image 34.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pizza sabor da casa</p>
                </div>
            </div>
        </a>
        <a href="" class="card__menu--link">
            <div class="card coll" style="width: 18rem;">
                <img src="../../assets/images/details/Image 34.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Pizza sabor da casa</p>
                </div>
            </div>
        </a>
    </div>
</div> 