<div class="carte">
    <h2 class="carte__h2">Nosso Cardápio</h2>
    <div class="carte__search">
        <img src="../../assets/images/search_icon.svg" alt="" class="cart__search--search-icon">
        <img src="../../assets/img/menu icon.svg" alt="" class="cart__search--menu-icon">
        <input class="carte__search--input" type="text" name="" id="" placeholder="Procure sua favorita">
    </div>

    <div class="category">
        <button class="category__button--all">
            <strong>Todas (170)</strong>
        </button>
        <div class="category__button--br">
            <a href="#popular">
                <img src="../../assets/img/eat.svg" alt="" class="button__br--img">
              <span class="button__br--span">Brasileira (41) </span>
            </a>
        </div>
        <div class="category__button--it">
            <a href="#popular">
                <img src="../../assets/img/eat.svg" alt="" class="button__it--img">
              <span class="button__it--span">Italiana (25) </span>
            </a>
        </div>
    </div>
</div>