<app-navbar></app-navbar>

<div class="container">
    <div class="banner">
        <img src="../../assets/images/Home/108832.png" alt="" class="banner__img">
        <h2 class="banner__h2">Pizzaria Erivax <br><small class="banner__h2--small">Onde o sabor fala com o seu paladar</small></h2>
        <h3 class="banner__h3">Aberto Agora <span class="banner__h3--time">horário</span> 18:30 a 23:00</h3>
        <a href="#" id="italian" class="banner__button--category">Italiana</a>
        <a href="#" id="smallPz" class="banner__button--category">Broto</a>
    </div>
</div>

<app-food-menu></app-food-menu>
<app-related></app-related>